[Desktop Entry]
Name=Test-box
GenericName=Terminal entering Test-box
Comment=Terminal entering Test-box
Categories=Distrobox;System;Utility
Exec=/nix/store/z9ry9x4f5g61kmmmwv5a8ydjxhvapr7n-distrobox-1.8.2.2/bin/distrobox enter  test-box
Icon=/home/lewelove/.local/share/icons/distrobox/fedora.png
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec=/nix/store/z9ry9x4f5g61kmmmwv5a8ydjxhvapr7n-distrobox-1.8.2.2/bin/distrobox
Type=Application
Actions=Remove;

[Desktop Action Remove]
Name=Remove Test-box from system
Exec=/nix/store/z9ry9x4f5g61kmmmwv5a8ydjxhvapr7n-distrobox-1.8.2.2/bin/distrobox rm  test-box
