window#waybar {
    background-color: #242424;
    color: #B7B7B7;
    font-family: "CommitMono Nerd Font";
    font-size: 11px;
}

#workspaces button {
    padding: 0 8px;
    color: #7A7A7A;
}

#workspaces button.focused {
    color: #B7B7B7;
    border-bottom: 2px solid #B7B7B7;
}
